.root {
    -fx-background-image: url("file:src/main/java/frontend/icons/backgnd.png")
}

.table-view {
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-font-size:40px;
    -fx-font-weight: bold;
}

.table-row-cell:filled:selected{
    -fx-background-color: #00976536;
    -fx-text-background-color: black;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #4ea79b;
    -fx-background-radius: 20px;
}

.menu-bar {
    -fx-background-color: #4ea79b;
    -fx-background-radius: 20px;
    -fx-background-image: url("file:src/main/java/frontend/icons/backgnd.png")
}

.menu .label {
    -fx-text-fill: black;
}

.menu:hover {
    -fx-background-color:#4ea79b;
}

.menu:hover .label {
    -fx-text-fill: black;
}

.menu-item:hover {
    -fx-background: #4ea79b;
    -fx-text-fill: black;
}

.diaGrid {
    -fx-alignment: center;
    -fx-size: 100px;
}

#headerEinfuegen {
    -fx-background-color: #4ea79b;
    -fx-background-radius: 20px;
}

.alertHBox {
    -fx-alignment: center;
    -fx-size: 100px;
}

#headerLoeschen {
    -fx-background-color: #4ea79b;
    -fx-background-radius: 20px;
}

.label {
    -fx-font-size: 40px;
}

.text-field {
    -fx-font-size: 20px;
}

.combo-box {
    -fx-font-size: 20px;
}

.button {
    -fx-background-color: #4ea79b;
    -fx-font-size: 20px;
    -fx-background-radius: 15px;
}

.swap {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: white;
}


