.root {
    -fx-background-image: url("file:src/main/java/frontend/icons/back.png")
}

.table-view {
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-font-size:40px;
}

.table-row-cell:selected {
    -fx-background-color: #0097653a;
    -fx-text-fill: #638a7e;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.menu-bar {
    -fx-background-color: transparent;
}

.dialog {
    -fx-background: transparent;
}

.diaGrid {
    -fx-alignment: center;
    -fx-size: 100px;
}

.label {
    -fx-font-size: 40px;
}

.text-field {
    -fx-font-size: 20px;
}

.combo-box {
    -fx-font-size: 20px;
}

.button {
    -fx-background-color: transparent;
    -fx-font-size: 20px;
}
